.card {
  border: 1px solid #444;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  background-color: #222;
  color: #eee;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-image {
  max-width: 250px;
  max-height: 250px;
}

.card-title {
  margin: 16px 0;
}

.card-description {
  font-size: 14px;
  color: #bbb;
}

.card.selected {
  border-color: #ff9800;
}
